footer {
    background-color: var(--black);
    color: var(--white);
}

#footer-content {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 90px;
}

#footer-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

#footer-head h4 {
    font-size: 20px;
    font-weight: 400;
}

#footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#contact-info {
    display: flex;
    align-items: flex-end;
    font-weight: 300;
}

#contact-info h5 {
    font-size: 16px;
    margin-bottom: 2px;
}

#contact-info a {
    margin-left: 55px;
}

#social-icons {
    display: flex;
}

#social-icons a {
    background-color: var(--liana-green);
    border-radius: 50%;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

#social-icons a:first-child {
    margin-left: 0px;
}

#social-icons a:last-child {
    margin-right: 0px;
}

/* Hovers  */

#social-icons a:hover {
    transform: translate3d(0, -5%, 0);
    box-shadow: var(--light-shadow);
}

/* Tablet landscape */

@media only screen and (max-width: 1200px) {}

/* Tablet portrait */

@media only screen and (max-width: 900px) {
    #footer-head {
        flex-direction: column;
        margin-bottom: 30px;
    }
    #footer-head h4 {
        margin-bottom: 10px;
    }
    #contact-info {
        flex-direction: column;
        align-items: flex-start;
    }
    #contact-info a {
        margin: 0;
        margin-top: 30px;
    }
}

/* Mobile */

@media only screen and (max-width: 600px) {
    #footer-content {
        text-align: center;
        padding-bottom: 50px;
    }
    #footer-head .menu-list {
        flex-direction: column;
        align-items: center;
    }
    #footer-head .menu-list a {
        padding: 5px 0;
    }
    #footer-contact {
        flex-direction: column;
        align-items: center;
    }
    #contact-info {
        align-items: center;
    }
    #contact-info a {
        margin-top: 30px;
    }
    #social-icons {
        margin-top: 50px;
    }
}