/* variables */

:root {
    /*  background, button text */
    --white: rgb(255, 255, 255);
    /* news section background */
    --light-gray: rgb(236, 238, 239);
    /* news item border, search input border, reference card border */
    --mid-gray: rgb(223, 223, 223);
    /* section divider, subscribe input border */
    --gray: rgb(204, 204, 204);
    /* main nav links */
    --dark-gray: rgb(153, 153, 153);
    /* text */
    --off-black: rgb(55, 58, 60);
    /* overlay for images */
    --off-black-overlay: rgba(55, 58, 60, 0.5);
    /* footer */
    --black: rgb(0, 0, 0);
    /* top nav, buttons */
    --liana-green: rgb(76, 137, 48);
    /* hover overlay */
    --liana-green-overlay: rgba(77, 133, 51, 0.7);
    /* box shadow */
    --light-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* liana highlights */

::selection {
    background: var(--liana-green);
    color: var(--white);
}

::-moz-selection {
    background: var(--liana-green);
    color: var(--white);
}

/* reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    list-style: none;
}

button, input, .btn {
    display: inline-block;
    background-color: var(--white);
    padding: 6px 14px;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    color: var(--off-black);
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

input::placeholder {
    color: var(--off-black);
}

img {
    display: block;
}

body {
    background-color: var(--white);
    color: var(--off-black);
    font-size: 16px;
}

section {
    text-align: center;
    padding: 50px 0;
}

section h2 {
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 40px;
}

.input {
    border: 1px solid var(--mid-gray);
}

.btn-primary {
    background-color: var(--liana-green);
    color: var(--white);
}

.large {
    font-size: 20px;
    padding: 10px 18px;
}

.menu-list {
    display: flex;
    font-weight: 300;
    line-height: 1;
}

.menu-list a {
    padding: 0px 10px;
}

.menu-list a li {
    position: relative;
}

.menu-list a li::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--white);
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 3px;
    transition: opacity 0.1s ease-out;
    opacity: 0;
}

.menu-list a:first-child {
    padding-left: 0px;
}

.menu-list a:last-child {
    padding-right: 0px;
}

#hero {
    height: 550px;
    padding-top: 200px;
    position: relative;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/hero.jpg");
    /* background: linear-gradient(0deg, var(--off-black-overlay), var(--off-black-overlay)), url("hero.jpg"); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1 {
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 25px;
}

#banner-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#banner-group a {
    position: relative;
    height: 222px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--off-black-overlay);
}

#banner-group a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

#banner-group h3 {
    font-size: 26px;
}

#statistic-group {
    display: flex;
    justify-content: space-evenly;
    margin: 70px auto 30px;
    padding: 0 80px;
}

.statistic {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.statistic img {
    width: 60px;
}

.statistic-text {
    line-height: 1;
    margin-left: 30px;
}

.statistic-text span {
    font-weight: 300;
    font-size: 55px;
}

.statistic-text p {
    margin-top: 12px;
    font-weight: 600;
    font-size: 20px;
}

#latest-news {
    background-color: var(--light-gray);
}

#news-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

#news-group a {
    text-align: left;
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 1px var(--mid-gray);
}

#news-group span {
    font-size: 14px;
}

#news-group h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

#reference-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

#reference-group a {
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 1px var(--mid-gray);
}

.reference-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.reference-logo img {
    max-height: 95%;
    max-width: 95%;
}

.reference-text {
    border-top: 1px solid var(--light-gray);
    padding: 25px;
}

.reference-text h3 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 24px;
}

#newsletter {
    border-top: 1px solid var(--gray);
}

#newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

#newsletter-form h2 {
    margin-bottom: 20px;
}

#newsletter-form p {
    margin-bottom: 25px;
    padding: 0 90px;
}

#newsletter-fields {
    display: flex;
    width: 100%;
}

#newsletter-fields input {
    flex: 1;
    margin-right: 10px;
}

.hidden {
    display: none !important;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loading span {
    margin-top: 30px;
}

.loader {
    border: 8px solid var(--light-gray);
    border-top: 8px solid var(--liana-green);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.6s linear infinite;
    grid-column-start: 2;
    justify-self: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.scroll-down  {
    transform: translate3d(0, -101%, 0);
}

.scroll-up  {
    transform: none;
}

#notification {
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    background-color: var(--liana-green);
    box-shadow: var(--light-shadow);
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, -101%, 0);
    transition: all 0.3s ease-out;
}

/* Hovers  */

.menu-list a:hover li::before {
    opacity: 1;
}

#banner-group a:hover {
    background-color: var(--liana-green-overlay);
    box-shadow: var(--light-shadow);
    transition: all 0.1s ease-out;
}

.btn:hover, .btn-primary:hover {
    background-color: var(--white);
    color: var(--liana-green);
    box-shadow: inset 0px 0px 0px 1px var(--liana-green);
    transition: all 0.1s ease-out;
}

#news-group a:hover {
    transform: translate3d(0, -5%, 0);
    box-shadow: var(--light-shadow);
}

#reference-group a:hover {
    transform: translate3d(0, -2%, 0);
}

/* Tablet landscape */

@media only screen and (max-width: 1200px) {
    #banners-content {
        display: flex;
    }
    #banner-group {
        grid-template-columns: 1fr;
        flex: 1
    }
    #banner-group a {
        height: 170px;
    }
    #statistic-group {
        flex-direction: column;
        padding: 0;
        margin: 0 8%;
    }
    #reference-group {
        grid-template-columns: repeat(2, 1fr);
    }
    #newsletter-form {
        width: 75%;
    }
}

/* Tablet portrait */

@media only screen and (max-width: 900px) {
    #newsletter-form {
        width: 100%;
    }
    #statistic-group {
        margin: 0;
        margin-left: 45px;
        align-items: baseline;
    }
    .statistic img {
        width: 45px;
    }
    .statistic-text span {
        font-size: 46px;
    }
    #news-group {
        grid-template-columns: 1fr;
    }
}

/* Mobile */

@media only screen and (max-width: 600px) {
    .container {
        padding: 0 20px;
    }
    #banners-content {
        flex-direction: column;
    }
    #statistic-group {
        margin: 0 auto;
    }
    .statistic {
        margin-top: 40px;
    }
    #reference-group {
        grid-template-columns: 1fr;
    }
    #newsletter-form p {
        padding: 0;
    }
    #newsletter-fields {
        flex-direction: column;
    }
    #newsletter-fields input {
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }
}